<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
  <form action="#" th:action="@{/student/submit}" method="post" th:object="${student}">
      <input th:field="*{firstName}" placeholder="Firstname">
      <input th:field="*{lastName}" placeholder="Lastname">
      <select th:field="*{country}">
          <option th:each="country : ${student.getCountries()}" th:value="${country.value}" th:text="${country.key}"></option>
      </select>
      <h5>Favorite Language</h5>
      <label>
          <input th:each="language : ${student.getLanguages()}" type="radio" name="language" th:value="${language.value}" th:text="${language.key}" th:field="*{favoriteLanguage}">
      </label>
      <h5>Operating Systems</h5>
      <label>
          Windows
          <input type="checkbox" name="operating-systems" value="Windows" th:field="*{operatingSystems}">
      </label>
      <label>
          Linux
          <input type="checkbox" name="operating-systems" value="Linux" th:field="*{operatingSystems}">
      </label>
      <label>
          iOS
          <input type="checkbox" name="operating-systems" value="iOS" th:field="*{operatingSystems}">
      </label>
      <label>
          Android OS
          <input type="checkbox" name="operating-systems" value="Android OS" th:field="*{operatingSystems}">
      </label>
      <input type="submit" value="Submit your survey" />
  </form>
</body>
</html>